<% content_for :page_title do %>
    <%= "Listing Quotes" %>
<% end %>
<% content_for :page_actions do %>
    <% if can?(:admin, Spree::Order) %>
        <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
    <% end %>
<% end %>

<div data-hook="admin_quote_edit_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @quote } %>
</div>

<%= render partial: 'quotes', locals: { quotes: @quotes } %>